@import '../../Components/cssUtils.scss';

/* loginbtn start */
#loginbtn{
    position: fixed;
    font-size: 2em;
    width: 3.5em;
    background-color: $primary;
    color: $secondary;
    left: 0;
    top: 10%;
    border-bottom-right-radius: 49% 96%;
    border-top-right-radius: 49% 96%;
    padding: 12px 15px;
    padding-right: 0px;
    padding-left: 1em;
    &:hover{
        background-color: #fff;
        text-decoration: underline;
        cursor: pointer;
    }
}
/* loginbtn end */

/* signupbttn start */
#signUpbtn{
    position: fixed;
    font-size: 2em;
    width: 3.5em;
    background-color: $primary;
    color: $secondary;
    right: 0;
    top: 10%;
    border-bottom-left-radius: 49% 96%;
    border-top-left-radius: 49% 96%;
    padding: 12px 15px;
    padding-right: 0px;
    padding-left: 1em;
    &:hover{
        background-color: #fff;
        text-decoration: underline;
        cursor: pointer;
    }
}
/* signupbtn end */

@media screen and (min-width: 600px){
    #signUpbtn{
        font-size: 2em;
        width: 4em;
        background-color: $primary;
        color: $secondary;
        right: 0;
        top: 10%;
        border-bottom-left-radius: 49% 96%;
        border-top-left-radius: 49% 96%;
        padding: 12px 15px;
        padding-right: 0px;
        padding-left: 40px;
        &:hover{
            background-color: #fff;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}