@import '../cssUtils.scss';

.Popup{
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    border: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $secondary;
    background-color: $primary;
    color: $secondary;
    &_exit{
        text-align: center;
        background-color: $secondary;
        color: black;
        border-radius: 100%;
        width: 20px;
        height: 20px;
    }

    &-type{
        text-align: center;
    }
    #form{
        &-signup{
            margin: 0 0em;
            padding: 0 3em;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 7em;
            .input{
                padding: 0 1em;
                text-align: center;
                height: 2em;
                margin-bottom: 1em;
                border: {
                    bottom-left-radius: 6% 56%;
                    top-left-radius: 6% 56%;
                    bottom-right-radius: 6% 56%;
                    top-right-radius: 6% 56%;
                }
            }
            .buttons{
                display: flex;
                justify-content: space-around;
                &-bttn{
                    line-height: 2em;
                    height: 2em;
                    width: 6em;
                    background-color: black;
                    color: white;
                }
                .active{
                    background-color: $secondary;
                    color: $primary;
                }
                .inactive{
                    background-color: $primary;
                    color: $secondary;
                }
            }
            .submit{
                padding: 1em 1em;
                &-bttn{
                    width: 10em;
                    height: 10em;
                }
            }
        }
    }
}

@media screen and (min-width: 505px){
    .Popup{
        width: 29rem;
        height: 29rem;
        border-radius: 4%;
        font-size: 1em;
        &_exit{
            color: black;
            border-radius: 100%;
            width: 20px;
            height: 20px;
        }
        label{
            font-size: 2em;
        }
        &-type{
            text-align: center;
        }
        #form{
            &-signup{
                margin: 0 4em;
                padding: 0 3em;
                margin-top: 2em;
                .submit{
                    padding: 1em 1em;
                    &-bttn{
                        width: 4em;
    height: 1.5em;
    background: orangered;
    font-size: 2.5em;
    line-height: 4px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 800px){
    .Popup{
        width: 29rem;
        height: 29rem;
        border-radius: 4%;
        &_exit{
            color: black;
            border-radius: 100%;
            width: 20px;
            height: 20px;
        }

        &-type{
            text-align: center;
        }
        #form{
            &-signup{
                margin: 0 4em;
                padding: 0 3em;
            }
        }
    }
}