@import '../../Components/cssUtils.scss';

/* start of hero */
#hero{
    .img-container{
        background-image: url("https://media.istockphoto.com/photos/portrait-of-high-school-students-with-teacher-on-campus-picture-id499113171?k=6&m=499113171&s=612x612&w=0&h=fNTPjIVZwpt6TuhdfCVX7u2FTixSzYnXRigEfbZNsnQ=");
        height: 100vh;
        width: 100vw;
        background: {
            repeat: no-repeat;
            position: center;
            size: cover;
            attachment: fixed;
        }
        position: relative;
        &-inner{
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
            text-align: left;
            width: 50%;
            font-size: 1.41em;
            color: $secondary;
            height: 7em;
            background-color: $primary;
            
        }
    }
}
/* end of hero */

/* start of Sponsors */
#sponsors{
    text-align: center;
    .container{
        display: flex;
        flex-direction: column;
        .box{
            border: 3px solid $primary;
            margin: 5em;
            width: 200px;
            margin: 10px auto;
            padding: 0px 0px;
            &-name{
                border-bottom: 3px solid $primary;
            }
        }
    }
}
/* start of Sponsors */

@media screen and (min-width: 600px){
    /* start of hero */
    #hero{
        .img-container{
            &-inner{
                font-size: 2.5em;
            }
        }
    }
    /* end of hero */
}

@media screen and (min-width: 700px){
    /* start of hero */
    #hero{
        .img-container{
            &-inner{
                font-size: 2.9em;
            }
        }
    }
    /* end of hero */
}

@media screen and (min-width: 900px){
    /* start of hero */
    #hero{
        .img-container{
            background-image: url("https://media.istockphoto.com/photos/portrait-of-high-school-students-with-teacher-on-campus-picture-id499113171?k=6&m=499113171&s=612x612&w=0&h=fNTPjIVZwpt6TuhdfCVX7u2FTixSzYnXRigEfbZNsnQ=");
            height: 100vh;
            width: 100vw;
            background: {
                repeat: no-repeat;
                position: center;
                size: cover;
                attachment: fixed;
            }
            position: relative;
            &-inner{
                position: absolute;
                left: 50%;
                top: 40%;
                transform: translate(-50%, -50%);
                text-align: left;
                width: 50%;
                font-size: 4em;
                color: $secondary;
                height: 7em;
                background-color: $primary;
            }
        }
    }
    /* end of hero */
}