@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:700&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

$primary: rgb(131, 203, 245);
$secondary: orangered;
$accent1: rgb(214, 121, 121);